.c-left-right-block--quote {
    &__content {
            padding: 96px 0;
            display: grid;
            grid-template-columns: var(--twelve-column-grid);
            background-color: #ffffff;
            row-gap: 48px;
            // flex-direction: column;
            // gap: 45px;

            @media screen and (min-width: 768px){
              // flex-direction: row;
            }


        &__first-block {
            grid-column: 2 / -2;
            display: flex;
            flex-direction: column;
            gap: 24px;

            @media screen and (min-width: 768px) {
              grid-column: 4 / -4;
            }

            @media screen and (min-width: 1366px) {
              grid-column: 2 / 9;
              
            }
            h2 {
              font-size: 32px;
              font-family: Barlow;
              font-weight: 600;
              line-height: 40px;
              word-wrap: break-word;
              color: #3b3b3d;
              margin: 0;
              max-width: 448px;
            }
        
            .title {
              font-size: 16px;
              font-family: Source Sans Pro;
              color: #19892B;
              font-weight: 600;
              line-height: 24px;
              word-wrap: break-word;
              margin: 0;
            }

            p {
                color: #3b3b3d;
                font-size: 16px;
                font-family: Source Sans Pro;
                font-weight: 400px;
                line-height: 24px;
                word-wrap: break-word;
                margin: 0;
                max-width: 448px;
            }


            @media only screen and (min-width: 480px) {

              h2 {
                max-width: 640px;
              }

              p {
                max-width: 640px;
              }
              .title {

              }
              

            @media only screen and (min-width: 768px) {
              p {
                max-width: 575px;
              }
            }
            }
          }
        
          &__second-block {
            grid-column: 2 / -2;
            display: flex;
            flex-direction: column;
            gap: 16px;

            @media screen and (min-width: 768px) {
              grid-column: 4 / -4;
            }

            @media screen and (min-width: 1366px) {
              grid-column: 9 / 14;
            }

            h2 {
              color: #3b3b3d;
              font-size: 28px;
              font-family: Barlow;
              font-weight: 600;
              line-height: 35px;
              word-wrap: break-word;
              border-style: solid none none none;
              border-color: #C6E8C8;
              margin: 0;
              padding-top: 16px;
            }

            p {
              font-size: 16px;
              color: #3b3b3d;
              font-family: Source Sans Pro;
              font-style: italic;
              font-weight: 400;
              word-wrap: break-word;
              border-style: none none solid none;
              border-color: #C6E8C8;
              margin: 0;
              padding-bottom: 16px;
            }
          }
    }


    
  }
  