{{ $c := "c-left-right-block" }}

<div class="{{ $c }}">
        <div class="{{ $c }}__image">
            <img class="{{ $c }}__image--desktop" src="{{ .desktop_image.image_path }}" alt="">
        </div>
        <div class="{{ $c }}__content">
            <h2>{{ .heading }}</h2>
            <p>{{ .text_block | markdownify }}</p>
            <ul class="custom-list">
                <li><span class="tick-marker"><img src="/uploads/green-tick.svg" alt="Green tick"></span>{{ .list.first_item | markdownify}}</li>
                <li><span class="tick-marker"><img src="/uploads/green-tick.svg" alt="Green tick"></span>{{ .list.second_item | markdownify}}</li>
                <li><span class="tick-marker"><img src="/uploads/green-tick.svg" alt="Green tick"></span>{{ .list.third_item | markdownify}}</li>
            </ul>

            <div class="{{ $c }}__button">
                {{ partial "bookshop" (slice "button" .button )}}
            </div> 
        </div>
</div> 